.content-wrap {
  padding: 25px 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.song-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#song-name {
  width: 30%;
}
.label {
  margin-bottom: 10px;
}
input[type=number] {
  width: 35px;
}
.section {
  flex-shrink: 0;
  width: 49%;
  min-width: 450px;
  margin: 10px 0;
}
.song-chords {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 18px;
}
.section-title {
  font-size: 25px;
  font-weight: bold;
}
.verses {
  margin-bottom: 10px;
}
.verse {
  width: 100%;
  max-width: 495px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
}
.verse-title {
  padding: 0 5px;
  color: #c43c33;
  font-weight: bold;
  font-size: 18px;
}
.verse-title-text{
  display: inline-block;
  min-width: 65px;
}
.verse-row {
  width: 98%;
}
.chords-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.verse-row:not(:last-child), .chords-row:not(:last-child) {
  margin-bottom: 7px;
}
#submit {
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #fb5145;
  font-size: 19px;
}
select[name=chords] {
  margin-right: 5px;
}

@media screen and (max-width: 925px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #submit {
    margin: 0;
  }
  .song-info {
    width: 450px;
  }
  #song-name {
    width: 71%;
  }
}